*{
    padding:0;
    margin:0;
}
ul {
    list-style-type: none;   
    overflow: hidden;    
    background-color: #333;
}
li {        
    float: left; 
}
li a {        
    display: block;        color: white;
    text-align: center;        padding: 14px 16px;        
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #0a0a0a;
    color:yellowgreen;
}
.active{ background-color: #4CAF50;}

.footer{
    width:100%; float:left; 
    background-color: black;
    position:fixed; bottom:0; 
    z-index:999999;
    color: gold;
    height:10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
div.content{
    border:1px solid #ccccff;
    text-align: left;
    margin:auto;
    width:30%;
}